---
layout: default
---

{% include hero.html %}


<div class="greeting-text">
  I'm Alex. Nice to meet you.
</div>
<div class="intro-text">
  I'm a full-stack software developer from North Carolina who loves playing and repairing guitars.
  Learning is a lifelong journey, and some of my favorite topics are <strong>privacy</strong>,
   <strong> security</strong>, and <strong>history</strong>.
   On this site I'll share what I'm working on, what I'm reading, and <em>even</em> what I'm thinking.
</div> 

<div class="traversal-groups">
  <div class="traversal-blog traversal-item">
    <div class="traversal-title">
      Latest Blog Post
    </div>
    {% for post in site.posts limit:1 %}
    <h3><a href={{post.url}}>{{ post.title }}</a></h3>
      <div class="home-excerpt">
        <p>{{ post.excerpt }}</p>
      </div>
      <a href={{ post.url }} class="home-jump"> Read more...</a>
    {% endfor %}

  </div>
  <div class="traversal-projects traversal-item">
    <div class="traversal-title">
      Portfolio
    </div>
    <div class="traversal-icon">
      <a href="/portfolio"><i class="far fa-folder"></i></a>
    </div>
  </div>
  <div class="traversal-about traversal-item">
    <div class="traversal-title">
      About Me
    </div>
    <div class="traversal-icon">
      <a href="/about"><i class="far fa-address-card"></i></a>
    </div>
  </div>
</div>
