.blog-jump {
  text-align: end;
  a {
    color: #7f7f7f;
    &:visited {
      color: #7f7f7f;
    }
  }
}

.blog-container {
  box-shadow: 0px 0px 26px #000;
  border: 2px white solid;
  border-radius: 20px;
  padding: 1.5rem 4rem;
  margin: 4rem auto;
  max-height: 800px;
  max-width: 1000px;
  h2 {
    margin-bottom: 0;
  }
  p {
  font-weight: 300;
  }
  .blog-date {
    font-weight: 200;
  }
}
