.greeting-text {
  font-size: 3rem;
  text-align: center;
  margin-top: -3rem;
}
.intro-text {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}


// TRAVERSAL STYLES
.traversal-groups {
  display: inline-flex;
  margin: 2rem 6vw;
  text-align: center;
  width: 90vw;
  a {
    color: #4b7ed1;
  }
  .traversal-item {
    margin: 0 1rem;
    padding: 0.5rem;
    width: 30vw;
    h3 {
      margin: .5rem 0 0;
    }
  }
  .home-jump {
    color: #7f7f7f;
    float: right;
    font-weight: 300;
  }
  .traversal-title {
    font-size: xx-large;
    text-decoration: underline;
  }
}
.traversal-icon {
  font-size: 10rem;
  a {
    color: #fff;
    &:hover {
      color: #4b7ed1;
      transition: ease-in-out 0.2s;
    }
  }
}

.home-excerpt {
  font-weight: 300;
}
