.portfolio-container {
  .project-container {
    box-shadow: 0px 0px 26px #000;
    border: 2px white solid;
    border-radius: 20px;
    font-weight: 300;
    margin: 1rem auto;
    padding: 1rem; 
    max-width: 700px;
    h3 {
      text-align: center;
    }
  } 
}
.construction-banner {
  background-color: yellow;
  box-shadow: 2px 2px 16px #000;
  color: #000;
  font-size: small;
  font-weight: 600;
  height: 1.5rem;
  transform: rotate(30deg)
             translateX(25vw)
             translateY(-14vw);
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0.5rem;
  position: absolute;
  width: 10%;
}


// RESPONSIVE PORTFOLIO
@media screen and (max-width: 1200px) {
  .construction-banner {
    font-size: unset;
    height: unset;
    transform: unset;
    margin: 0 auto;
    position: unset;
    width: 90%;
  }
}
