.post-content {
  padding: 3rem 10vw;
  min-height: 77vh;
  .post-title {
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .post-body {
    font-weight: 300;
    margin: auto;
    width: 50vw;
  }
  a {
    color: #4b7ed1;
  }
  .post-category {
    background-color: #0a0a0a;
    border-radius: 8px;
    box-shadow: 0px 0px 26px #000;
    margin: 0 auto 2rem;
    padding: 0.5rem;
    text-align: center;
    width: 6rem;
  }
  .post-date {
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

// RESPONSIVE POST
@media screen and (max-width: 1200px) {
  .post-content {
    padding: 3rem 2vw;
    .post-category{
      width: 15rem;
    }
    .post-body {
      width: 80vw;
    }
  }
}
