.post-content {
  padding: 3rem 10vw;
  .post-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .post-body {
    font-weight: 300;
    margin: auto;
    width: 50vw;
  }
  a {
    color: #4b7ed1;
  }
}
